* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #23232e;
}
::-webkit-scrollbar-thumb {
  background: #ff5252;
}
body {
  /* overflow-x: hidden; */
  background-color: #23232e;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
nav {
  text-align: center;
  background-color: #3b3b4b;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
div {
  text-align: center;
}
.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 50px;
}
.stats {
  align-items: center;
  text-align: center;
}
.stat_box {
  width: 150px;
  height: 100px;

  margin: auto;
}
.stat_box h3 {
  font-weight: 700;
}
/* span .number{
  font-size: 25px;
  padding-bottom: 55px;
} */
.confirmed {
  background: linear-gradient(
    220deg,
    rgba(67, 202, 255, 0.644),
    rgba(152, 8, 204, 0.5)
  );
}
.active {
  background: linear-gradient(
    220deg,
    rgba(32, 191, 85, 0.767),
    rgba(1, 187, 239, 0.712)
  );
}
.recovered {
  background: linear-gradient(
    220deg,
    rgba(255, 203, 47, 0.836),
    rgba(239, 86, 52, 0.836)
  );
}
.deceased {
  background: linear-gradient(
    220deg,
    rgba(4, 240, 193, 0.877),
    rgba(73, 2, 187, 0.705)
  );
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #fff !important;
}

td,
th {
  /* border: 1px solid #8e8e8e; */
  text-align: left;
  padding: 5px;
  width: 100%;
}
th {
  background-color: #3b3b4b;
}
tr {
}
tr:nth-child(even) {
  background-color: #3b3b4b;
}

tr:hover {
  background-color: #ff5252 !important;
  color: #fff !important;
  /* border: none; */
  /* opacity: 0.5; */
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stat_box {
  margin: 0 5px;
  padding: 5px;
  background-color: #3b3b4b;
}
.row.stat_box {
  display: grid;
}
footer {
  margin-top: 10px;
  background-color: #3b3b4b;
  text-align: center;
  padding: 5px;
}
a {
  color: aqua;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  color: darkorange;
  background-color: rgb(20, 10, 10);
  text-decoration: none;
}
@media screen and (max-width: 599px) {
  body {
    overflow-x: hidden;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .stat_box {
    margin: 3px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .container {
    width: 90%;
    margin: 5px;
    /* background-color:red; */
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  td,
  th {
    border: 1px solid #8e8e8e34;
    padding: 15px;
    /* width: 100%; */
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 60rem;
  }
  td,
  th {
    border: 1px solid #8e8e8e34;
    padding: 15px;
    /* width: 100%; */
  }
}
@media screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .row{
    margin-top: 100px;
  }
  .container {
    width: 70%;
  }
  td,
  th {
    border: 1px solid #8e8e8e34;
    padding: 15px;
    /* width: 100%; */
  }
}
